<div class="fixed-action-btn">
	<!-- <a class="btn-floating btn-large tooltipped" data-tooltip="{lbl_regresar}" data-position="top" data-delay="50" href="{base_url}estaciones">
		<i class="large material-icons">undo</i>
	</a> -->
	<a class="btn-floating btn-large tooltipped white" data-tooltip="{lbl_nuevo_usuario}" data-position="top" data-delay="50" data-id_estacion="{id_estacion}" id="btn-create-usuario">
		<i class="large material-icons">add</i>
	</a>
</div>

<div class="row">
	<div class="col s12">
		{data_table}
	</div>
</div>