<tr id="perfil-{id_perfil}">
	<td>
		{id_perfil}
	</td>
	<td>
		{perfil}
	</td>
	<td>
		{clave_corta}
	</td>
	<td>
		{descripcion}
	</td>
	<td>
		{fecha}
	</td>
	<td class="center-align">
		<div class="btn-group">
			<button  class="btn-flat btn-small waves-effect" onclick="editPerfil({id_perfil})">
				<i class="material-icons">create</i>
			</button>
			<button  class="btn-flat btn-small waves-effect delete-perfil" data-id_perfil="{id_perfil}">
				<i class="material-icons">delete</i>
			</button>

		</div>
	</td>
</tr>