	<!-- Vendor -->
        <script src="{base_url}assets/vendor/jquery-validation/jquery.validate.min.js" type="text/javascript"></script>
        <script src="{base_url}assets/vendor/jquery-validation/additional-methods.min.js" type="text/javascript"></script>
        <script src="{base_url}assets/vendor/jquery-validation/es_MX.js" type="text/javascript"></script>
        <script src="{base_url}assets/vendor/pickdate/translations/es_ES.js" type="text/javascript"></script>
        <!-- sweetalert -->
        <script src="{base_url}assets/vendor/es6-promise/es6-promise.auto.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{base_url}assets/vendor/sweetalert2/dist/sweetalert2.css">
        <script src="{base_url}assets/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
        <!-- Mask -->
        <script src="{base_url}assets/vendor/mask/jquery.mask.min.js" type="text/javascript"></script>
        <!-- Steps -->
        <link href="{base_url}assets/vendor/materialize-stepper/materialize-stepper.css" rel="stylesheet" type="text/css" />
        <script src="{base_url}assets/vendor/materialize-stepper/materialize-stepper.js" type="text/javascript"></script>
        <!-- TreeGrid -->
        <link href="{base_url}assets/vendor/jquery-treegrid/jquery.treegrid.css" rel="stylesheet" type="text/css" />
        <script src="{base_url}assets/vendor/jquery-treegrid/jquery.treegrid.js" type="text/javascript"></script>
        <!-- Clock Picker -->
        <link href="{base_url}assets/vendor/clockpicker/materialize.clockpicker.css" rel="stylesheet" type="text/css" />
        <script src="{base_url}assets/vendor/clockpicker/materialize.clockpicker.js" type="text/javascript"></script>
        <!-- select2 -->
        <link href="{base_url}assets/vendor/select2/css/select2.css" rel="stylesheet" type="text/css" />
        <script src="{base_url}assets/vendor/select2/js/select2.min.js" type="text/javascript"></script>
        <!-- Fullcalendar jquery-->        
        <link href="{base_url}assets/vendor/fullcalendar/css/fullcalendar.css" type="text/css" rel="stylesheet" media="screen,projection">
        <script type="text/javascript" src="{base_url}assets/vendor/fullcalendar/lib/jquery-ui.custom.min.js"></script>
        <script type="text/javascript" src="{base_url}assets/vendor/fullcalendar/lib/moment.min.js"></script>
        <script type="text/javascript" src="{base_url}assets/vendor/fullcalendar/js/fullcalendar.min.js"></script>
        <script type="text/javascript" src="{base_url}assets/vendor/fullcalendar/lang/lang-es.js"></script>        
        <!-- Timepicker jquery -->
        <!-- <link href="{base_url}assets/vendor/jquery-timepicker/jquery.timepicker.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{base_url}assets/vendor/jquery-timepicker/jquery.timepicker.js"></script> -->
        <!--  -->
        <link href="{base_url}assets/vendor/timepicki/css/timepicki.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="{base_url}assets/vendor/timepicki/js/timepicki.js"></script>
        <!--MOMENT JQUERY TIMER-->
       <!--  <script type="text/javascript" src="{base_url}assets/vendor/moment/moment.js"></script> -->
