        <script src="{TEMPLATEPATH}js/utils.js" type="text/javascript"></script>
        <script src="{TEMPLATEPATH}js/colors.js" type="text/javascript"></script>
        <script src="{TEMPLATEPATH}bower_components/amcharts3/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="{TEMPLATEPATH}bower_components/amcharts3/amcharts/serial.js" type="text/javascript"></script>
        <script src="{TEMPLATEPATH}bower_components/amcharts3/amcharts/gauge.js" type="text/javascript"></script>
        <script src="{TEMPLATEPATH}bower_components/amcharts3/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="{TEMPLATEPATH}bower_components/slimscroll/jquery.slimscroll.js" type="text/javascript"></script>
        <script src="{TEMPLATEPATH}js/pages/dashboard.js" type="text/javascript"></script>        
        <!-- IS -->        
        {data_css}
        {data_js}
        <!--  -->