		<footer class="page-footer footer_image">
            <div class="container ">
                <div class="row ">
                    <div class="col s1">
                        <div class="brand-logo">
                            <img src="{IMG_PATH}logo.png"/>
                            <h5 class="valign"></h5>
                        </div>
                    </div>
                    <div class="col s11">
                        <span class="footer-copyright" style="font-size: 8pt; ">{anio} By © <a href="http://www.isolution.mx" target="_blank">Intelligent Solution</a></span>                        
                    </div>
                </div>
            </div>            
        </footer>
        <div id="modal-custom"></div>