					<main>
						<div class="row">
							<div class="col s12 m12">
								<div class="panel panel-bordered panel-dashboard panel-bar-chart z-depth-1">
									<div class="panel-header">
										<div class="title bold">
											{title}
										</div>
										<div class="subtitle">
											{subtitle}
										</div>
									</div>
									<div class="panel-body">
										{content}
									</div>
								</div>
							</div>
						</div>
						<div class="push"></div>
					</main>