#######################################################################
## ARCHIVO DE VARIABLES GENERALES DEL SISTEMA - EDITAR CON PRECAUCIÓN
##
## CODEIGNITER-FW 
##
## TYPE|NAME=VALUE   
## O3M
###

###################
### config.php [codeigniter]
###################

#General
cfg|charset=UTF-8
cfg|subclass_prefix=IS_

#Language
cfg|language=es_mx

#Session
cfg|sess_cookie_name=paeflextime_session
cfg|sess_expiration=7200
cfg|sess_expire_on_close=1
cfg|sess_encrypt_cookie=1
cfg|sess_use_database=0
cfg|sess_match_ip=1
cfg|sess_match_useragent=1
cfg|sess_table_name=sys_sessions
cfg|sess_time_to_update=300

#Logs
cfg|logs_onoff=1
cfg|logs_path=logs/ci/