<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width">
        <title>{APPTITLE}</title>
        <meta name="author" content="Armando Cruz">
        
        <!-- ##### -->
        <!-- Fonts -->
        <!-- ##### -->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!-- ################## -->
        <!-- Global stylesheets -->
        <!-- ################## -->
        <link href="{TEMPLATEPATH}bower_components/Materialize/dist/css/materialize.css" rel="stylesheet" type="text/css" />
        <link href="{TEMPLATEPATH}bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="{TEMPLATEPATH}css/login.css" rel="stylesheet" type="text/css" />
        <!-- ################# -->
        <!-- Theme stylesheets -->
        <!-- ################# -->
        <link href="{TEMPLATEPATH}css/themes/light.css" id="ssThemeColor" rel="stylesheet" type="text/css" />
        <link href="{TEMPLATEPATH}css/themes/main/materialize-red.css" id="ssMainColor" rel="stylesheet" type="text/css" />
        <link href="{TEMPLATEPATH}css/themes/alternative/red.css" id="ssAlternativeColor" rel="stylesheet" type="text/css" />
        <!-- sweetalert -->
        <script src="{base_url}assets/vendor/es6-promise/es6-promise.auto.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{base_url}assets/vendor/sweetalert2/dist/sweetalert2.css">
        <script src="{base_url}assets/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
       
        <!-- ##### -->
        <!-- Icons -->
        <!-- ##### -->
        <link rel="shortcut icon" href="" type="image/x-icon">
        <style>
        	.error {
        		color: red;
        	}
        </style>
    </head>

    <body>
        <div id="theme-gradient"></div>
        
        <!-- ####### -->
        <!-- Content -->
        <!-- ####### -->
        <main>
            <div class="login-wrapper">
				<form method="post" id="form-restablecer-password">
					<div class="panel panel-bordered z-depth-1">
						<div class="panel-header">
							<h5>
								{lbl_restablecer} <b class="main-text">{lbl_password}</b>
							</h5>
						</div>

						<div class="panel-body">
							<div class="row no-gutter margin-bottom-0">
								<div class="input-field col s12">
									<input type="password" name="password" id="password" data-campo="password">
									<label for="password">{lbl_password}</label>
								</div>
								<div class="input-field col s12">
									<input type="password" name="rpt_password" id="rpt_password">
									<label for="rpt_password">{lbl_rpt_password}</label>
								</div>
							</div>

							<p class="center-align margin-bottom-5">
								{lbl_instruccion}
							</p>
						</div>

						<div class="panel-footer">
							<div class="right-align">
								<button id="btn-restablecer-password" type="submit" class="waves-effect waves-light btn" data-id_usuario="{id_usuario}">
									{lbl_restablecer}
								</button>
							</div>
						</div>
					</div>
				</form>
            </div>
        </main>


        <!-- ################## -->
        <!-- Global javascripts -->
        <!-- ################## -->
        <script src="{TEMPLATEPATH}bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
        <script src="{TEMPLATEPATH}bower_components/Materialize/dist/js/materialize.js" type="text/javascript"></script>
        <!-- ################ -->
        <!-- Util javascripts -->
        <!-- ################ -->
        <script src="{TEMPLATEPATH}js/utils.js" type="text/javascript"></script>
        <script src="{TEMPLATEPATH}js/colors.js" type="text/javascript"></script>
        {data_js}
        {data_css}
    </body>
</html>